<?php

/*** Configuration - change to suit your local setup. ***/

/* Your flickr username (the one that appears in your main Flickr URL). */

define( 'FP_USERNAME', 'username' );

/* A directory where the plugin can cache results - must be writable
   by the web server process. */

define( 'FP_CACHE_DIR', '/path/to/wordpress/wp-content/cache/flickr-post');

/* This specifies how long cached results should be kept before they
   are considered to be stale. This is an important value to consider.
   If you set it too low, then the plugin will make a lot of direct
   requests for information to Flickr. However, the higher you set it,
   the longer it will take for any changes you make to tags on Flickr
   to show on your blog. I think 30 minutes is just about right. */

define( 'FP_CACHE_TIMEOUT', 1800 );

?>
